input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

App {
    min-width: 1080px;
    
}



#login-form {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    margin-top: 50px
}

#login-form input {
    margin: 5px;
}

#login-form button {
    margin: 5px;
    width: 30%
}