http://localhost {
    reverse_proxy /api/* zip_world_backend_1:8000

    @websockets {
        header Connection *Upgrade*
        header Upgrade    websocket
    }
    reverse_proxy @websockets zip_world_broker_1:9001
}

